
* {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/*-----------------------Navabar------------------------*/
.navbar-container {
  font-size: 1.2rem;
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #fff;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem 0.7rem;
}
.navlinks li a {
  text-decoration: none;
  font-size: 1.2rem;
}
.navlinks .login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: transparent;
  color: #fff;
   transition: 0.15s ease-in-out;
}
.navlinks .signup-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: #fff;

}
.navlinks .login-button:hover {
  background: lightcoral;
}
.text-black {
  color:#fff;
}

.footer {
  min-height: 20vh;
  padding: 1rem 0;
 
}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}
