:root {
  --fs-title: 2.5rem;
  --fs-subtitle: 2rem;

  --clr-blue: #5585b5;
  --clr-lightGray: #e0e0e0;
  --clr-darkGray: #3e4a61;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
.home-page {
  padding: 1rem 0;
  background-image: url("../image/skyline2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.base-container {
  width: min(80%, 90rem);
  margin-inline: auto;
}
.intro-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
.intro-content {
  width: 30%;
  color: #fff;
}
.intro-message {
  color: #fff;
}
.news-container {
  min-height: 50vh;
}
.footer {
  min-height: 20vh;
  padding: 1rem 0;
 
}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}