* {
    font-family: 'Roboto', sans-serif; 
}
.navbar-container {
  border-bottom: 1px solid lightgray;
}

.create-meet-section {
  min-height: 80vh;
  padding: 1rem 0;
}
.meet-up-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}
.meet-col {
  width: 50%;
}
.inner-content {
  padding-left: 1.5rem;
}
form {
  min-height: 50vh;
  width: 100%;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0.7rem;
  width: 90%;
}
.form-group input {
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 0.7rem 0.2rem;
  
}

.button-group .btn {
  border: 1px solid lightcoral;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.15s ease-in-out;
}
.button-group .submit-button {
  background: lightcoral;
  margin-right: .5rem;
}

.button-group .cancel-btn {
  text-decoration: none;
  color: lightcoral;
}

/*---------------------------Media Query-------------------------*/
@media (max-width: 900px) {
  .meet-up-container {
    
    flex-wrap: wrap;
    width: 100%;
  }
.inner-content {
  padding-left: 0;
}
}
@media (max-width: 650px) {
  .navbar-logo {
    display: none;
  }
}
@media (max-width: 570px) {
  .navlinks {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .button-group .submit-button{
    margin-bottom: 1rem;
  }
  
}