* {
    font-family: 'Roboto', sans-serif; 
}
nav {
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid lightgray;
  font-weight: bold;
  letter-spacing: 0.07rem;
}
.navbar-logo {
  text-decoration: none;
  color: #353535;
   font-size: 1.5rem;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 2rem 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 2px solid lightcoral;
  color: lightcoral;
}
.text-black {
  color:black;
}
.login-button {
  color: #fff;
}

.create-meet-section {
  min-height: 80vh;
  padding: 1rem 0;
}
.meet-up-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
  min-height: 80vh;
  border-bottom: 2px solid lightgray;
}
.meet-form h1 {
font-family: 'Ubuntu', sans-serif;
}
.meet-col {
  width: 50%;
}
.inner-content {
  padding-left: 1.5rem;
}
.inner-content h3 {
  font-family: 'Ubuntu', sans-serif;
}
form {
  min-height: 50vh;
  width: 100%;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 0.7rem;
  width: 90%;
}
.form-group input, textarea {
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: .7rem 0.2rem;
  margin-bottom: 1rem;
  resize: none;
}

.button-group .btn {
  border: 1px solid lightcoral;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.button-group .submit-button {
  background: lightcoral;
  margin-right: .5rem;
}

.button-group .cancel-btn {
  text-decoration: none;
  color: lightcoral;
}

.inner-content p {
  letter-spacing: .05rem;
  line-height: 1.5rem;
}

.footer {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 900px) {
  .meet-up-container {
    
    flex-wrap: wrap;
    width: 100%;
  }
.inner-content {
  padding-left: 0;
}
}
@media (max-width: 650px) {
  .navbar-logo {
    display: none;
  }
}
@media (max-width: 570px) {
  .navlinks {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .button-group .submit-button{
    margin-bottom: 1rem;
  }
  
}