* {

font-family: 'Roboto', sans-serif; 
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  
}
nav {
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container::after {
  content: '';
  position: absolute;
  background-image: url('../image/rsx.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  z-index: -1;
  filter: brightness(80%);
  opacity: 0.8;
}
.login-title {
  margin-top: 0;
}

.form-container {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}
.form-container form .user-details {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 
}
form .user-details .form-group {
  width: calc(100% / 2 - 20px);
}
.form-group {
  margin-bottom: 1rem;
}
.form-group input {
  width: 95%;
  padding: 1rem 0.5rem;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.form-group .create-user-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid lightcoral;
  background: lightcoral;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  transition: 0.15s ease-in-out;
}
.form-group .create-user-button:hover {
  background: transparent;
  color: lightcoral;
}