/* html {
  height: 100vh;
  overflow: hidden; 
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
} */
/*-----------------------Home Container-------------------------------*/
.home-page {
  padding: 1rem 0;
  width: 100%;
  position: relative;
  background: lightgray; 
  min-height: 100vh;
  transform-style: preserve-3d;
}
/* .home-page::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../image/white-nsx.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  
} */

.base-container {
  width: min(80%, 90rem);
  margin-inline: auto;
}
.intro-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
.intro-content {
  width: 50%;
  color: #fff;
}
.intro-content h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  margin: 0;
}
.intro-content p {
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin: 0;
  font-size: 1.2rem;
}
.intro-content .login-div {
  margin-top: 1rem;
}
.intro-content .login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 1rem;
}
.intro-content .signup-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.intro-content .signup-button:hover {
  background: lightcoral;
}

/*----------------------------Gallery Container-------------------------*/
.gallery-container {
  min-height: 100vh;
}

/*------------------------------Footer Container------------------------*/
.footer {
  min-height: 20vh;
  padding: 1rem 0;
 
}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}