:root {
  --clr-lightRed: rgb(255, 236, 236);
  --clr-lightBlue: rgb(236, 247, 255);
  --clr-lightGreen: rgb(255, 255, 238);
  --clr-darkGray: rgb(88, 88, 88);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}

nav {
  position: relative;
}


.navbar-container {
  font-size: 1.2rem;
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}
.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 2rem 0.7rem;
}
.navlinks li a {
  text-decoration: none;
  font-size: 1.2rem;
}
.navlinks .login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: transparent;
  color: #fff;
   transition: 0.15s ease-in-out;
}
.navlinks .signup-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: #fff;

}
.navlinks .login-button:hover {
  background: lightcoral;
}
.text-black {
  color:#fff;
}
.home-page {
  width: 100%;
  position: relative; 
  min-height: 85vh;
}
.home-page::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-image: url(../image/supra3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
  opacity: 0.9;
  z-index: -1;
  clip-path: polygon(25% 0%, 100% 0, 100% 83%, 0 100%, 0 68%, 0 0);
}

.base-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  
}
.intro-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 85vh;
}
.intro-content {
  width: 50%;
  color: #fff;
}
.intro-content h1 {
  font-size: 4rem;
  margin: 0;
}

.intro-content span {
  color: lightcoral;
 
}
.intro-content p {
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin: 0;
  font-size: 1.2rem;
}
.intro-content .login-div {
  margin-top: 1rem;
}
.intro-content .login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 1rem;
}
.intro-content .signup-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.intro-content .signup-button:hover {
  background: lightcoral;
}



.mid-section {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-section .mid-info-content {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
.mid-info-content span {
  color: lightcoral;
}
.mid-info-content p {
  font-size: 1.2rem;
}

.lower-section {
  min-height: 60vh;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
}
.lower-section h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: lightcoral;
}
.lower-section .lower-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.lower-section .lower-info-content .lower-inner-user {
  background: var(--clr-lightBlue);
}
.lower-section .lower-info-content .lower-inner-search {
  background: var(--clr-lightRed);
}
.lower-section .lower-info-content .lower-inner-host {
  background: var(--clr-lightGreen);
}
.lower-col {
  width: 33%;
  height: 350px;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1);
}
.lower-section i{
  font-size: 3rem;
  color: var(--clr-darkGray);
  margin-bottom: 1rem;
}
.lower-section .bold-text {
  font-weight: bold;
}


footer {
  background: rgb(63, 63, 63);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}.footer-content p {
  margin: 0;
}
.login-div a {
  text-decoration: none;
  color: #fff;
  padding-left: 0.5rem;
}

@media (max-width: 900px) {
  .lower-section {
    padding: 2.5rem 0;
  }
  .lower-info-content {
    flex-direction: column;
  }
  .lower-col {
    width: 100%;
  }
}
@media (max-width: 820px) {
  .intro-content {
    width: 100%;
  }
  .hamburger-menu-div {
    position: absolute;
  }
}
@media (max-width: 550px) {
  .footer-content {
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .footer-content p {
    padding-bottom: 1rem;
  }
}