* {
font-family: 'Quicksand', sans-serif; 
/* font-family: 'Roboto', sans-serif; */
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  
}
nav {
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container::after {
  content: '';
  position: absolute;
  background-image: url('../image/rsx.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset: 0;
  z-index: -1;
  filter: brightness(80%);
  opacity: 0.8;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightslategray;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.2);
  width: 35%;
  max-width: 548px;
  min-height: 55vh;
}

.form {
  width: 80%;
}

.form-group {
  margin: 0.7rem 0;
  width: 100%;
}
.form-group input {
  width: 95%;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.7rem 0.5rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.form-group .login-button {
  cursor: pointer;
  font-size: 1.2rem;
  background: lightcoral;
  color: #fff;
  width: 100%;
  margin: 0.7rem 0;
}
.login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: lightcoral;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 0.5rem;
}
.create-user-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: lightcoral;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 0.5rem;
  margin: 0.7rem 0 2rem 0;
  width: 100%;
  cursor: pointer;
}
.create-link {
  color: black;
}

.flash-msg {
  padding: 0;
  margin: 0;
}