* {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}

/*------------------------------Navbar-------------------------------------*/
nav {
  font-size: 1.2rem;

}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #353535;
   font-size: 1.5rem;
}
.navbar-logo img {
  width: 50px;
  height: 50px;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 2rem 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
.text-black {
  color:black;
}

/*----------------------------Main Section-----------------------------*/
section .bg-img-container{
  background-image: url('../image/car-meet3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  min-height: 50vh;
  position: relative;
  background-attachment: fixed;
}

.find-meet-container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
  
}
.find-meet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
.host-meet-button {
  border: 1px solid lightcoral;
  text-decoration: none;
  color: lightcoral;
  padding: .8rem 1.5rem;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}
.host-meet-button:hover {
  background: lightcoral;
  color: #fff;
}
.state-city-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0;
  
}
.state-city-container .form-search {
  border-right: 1px solid lightgray;
}
.state-city-container .search-content {
  text-align: center;
  
}
.state-city-container .search-content h3 {
  margin-top: 0;
}
/*---------------------Search Form----------------------------*/
.form-search form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form-search form input {
  margin-bottom: 1rem;
  width: 60%;
}
.form-col {
  width: 50%;
}
/*----------------------------meetup info------------------*/
.search-content {
  margin-left: 4rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.meet-up-info {
  width: 80%;
  padding-bottom: 1.2rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}
/*---------------------------end--------------------------*/
.state-selection {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem 5rem 1rem 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}
.search-button {
  border: 1px solid transparent;
  background: lightcoral;
  padding: .8rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.search-button:hover {
  background: transparent;
  color: lightcoral;
  border: 1px solid lightcoral;
}

/*-------------------------Google Maps-------------------------*/
.search-container {
  min-height: 50vh;
  padding: 2rem 0;
  background: rgb(240, 240, 240);
}

#map {
  height: 60vh;
}

/*----------------------Footer-------------------------------*/
.footer {
  min-height: 15vh;
}

/*----------------------Media Query-----------------------------*/
@media (max-width: 900px) {
  
/*---------------main section-------------------*/  
  .find-meet {
 flex-wrap: wrap;
}
  .state-city-container {
  flex-wrap: wrap;
  gap: 2rem;
}
.state-city-container .form-search {
  border-right: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

.form-search form input {
  width: 67%;
}
.form-col {
  width: 100%;
  text-align: center;
}
.search-content {
  margin-left: 0;
}
}