
nav {
  background: lightslategray;
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #fff;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  text-decoration: none;
  color: #fff;
  transition: 0.15s ease-in-out;
}
/* .navlinks li a:hover {
  color: lightcoral;
} */

.login-button {
  background: lightcoral;
  padding: 0.5rem 1.5rem;
  border-radius: 50px 50px;
}
