
nav {
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #353535;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.text-black {
  color:#353535;
}
.text-black:hover {
  border-bottom: 1px solid #353535;
}

.login-button {
  border: 1px solid lightcoral;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: lightcoral;
}
.login-button:hover {
  background: lightcoral;
  color: #fff;
}