* {
 /* font-family: 'Roboto', sans-serif; */
 font-family: 'Quicksand', sans-serif; 
}
html {
  scroll-behavior: smooth;
}
body {
   padding: 0;
   margin: 0;
}

/*-----------------Navbar--------------------------*/
nav {
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  text-decoration: none;
  color: #353535;
  font-size: 1.5rem;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
.text-black {
  color:black;
}

/*----------------------------Form container---------------------*/

.edit-profile-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
 /*  position: relative; */
  height: 100%;
}
/* .edit-profile-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(../image/supra3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
  opacity: .8;
  z-index: -1;
} */
.e-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  border-bottom: 1px solid lightgray;
}
.update-col {
  width: 50%;
}

form {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 100%;
}

form .e-group-form {
  margin: 0.5rem 0;
  width: 100%;
}
form .e-group-form input {
  outline: none;
  border: 1px solid lightgray;
  width: 95%;
  padding: 0.7rem 0.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cancel {
  text-decoration: none;
  border: 1px solid lightcoral;
  color: lightcoral;
}
.update {
  border: none;
  cursor: pointer;
  background: lightcoral;
  color: #fff;
}
.update-button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin-right: 0.7rem;
}


/*-------------------Footer----------------------------*/
.footer {
  min-height: 20vh;
  padding: 1rem 0;

}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}