* {
 font-family: 'Roboto', sans-serif; 
}
html {
  scroll-behavior: smooth;
}
body {
   padding: 0;
   margin: 0;
}

/*-----------------Navbar--------------------------*/
nav {
  font-size: 1.2rem;
}

.navbar-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.navbar-logo {
  text-decoration: none;
  color: #353535;
  font-size: 1.5rem;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks li {
  list-style: none;
  padding: 1rem;
}
.navlinks li a {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  transition: 0.15s ease-in-out;
}
.navlinks li a:hover {
  border: 1px solid lightcoral;
  color: lightcoral;
}
.text-black {
  color:black;
}

/*--------------------------Cloudinary---------------------------*/
/* .info-content {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
  height: 100%;
} */
.cloudinary-div img {
  width: 100%;
  padding-bottom: 1rem;
  height: 400px;
  object-fit: cover;
}
.cloudinary-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.cloudinary-form input {
  width: 50%;
}
.cloudinary-form .upload-button{
  padding: 0.2rem .7rem;
  border: 1px solid lightcoral;
  background: lightcoral;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
 
}
/*----------------------------Form container---------------------*/

.edit-profile-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 100%;
 /*  position: relative; */
}
/* .edit-profile-container::after {
  content: '';
  position: absolute;
  display: block;
  inset: 0;
  background-image: url(../image/sti-370z.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
} */
.e-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;

}
.update-col {
  width: 50%;
}

.profile-update-form {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 100%;
margin-top: 1rem;
}

form .e-group-form {
  margin: 0.5rem 0;
  width: 100%;
}
form .e-group-form input {
  outline: none;
  border: 1px solid lightgray;
  width: 100%;
  padding: 0.7rem 0.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cancel {
  text-decoration: none;
  border: 1px solid lightcoral;
  color: lightcoral;
}
.update {
  border: none;
  cursor: pointer;
  background: lightcoral;
  color: #fff;
}
.update-button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin-right: 0.5rem;
}


/*-------------------Footer----------------------------*/
.footer {
  min-height: 10vh;
  padding: 1rem 0;

}
.center-content {
  width: min(80%, 90rem);
  margin-inline: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}