* {
  font-family: 'Roboto', sans-serif; 
  
}
body {
  background-color: rgb(243, 243, 243);
}

nav{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navlinks {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .navlinks li{
  list-style-type: none;
  padding-left: 1rem;
}

nav .navlinks li a {
  color: black;
  text-decoration: none;
}

/*-----------------------------Section-----------------------------*/
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 2rem 0;

}
.p-container {
  width: min(80%, 90rem);
  margin-inline: auto;
 
}
.p-center-container {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.text-font-weight {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: 550;
}

/*---------------User Dashboard------------------------*/

.big-color-div {
  width: 40%;
  background: rgb(46, 46, 46);
  border-radius: 10px 0 0 10px;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.flex-box-div {
  width: 60%;
  text-align: center;
  padding: 2rem 0;
  
}
.img-inner-content {
  width: 50%;
  margin: auto auto;
}
.img-inner-content img {
  width: 100%;
  border-radius: 10px;
}
.img-inner-content p {
  margin: 0;
  padding-bottom: 0.3rem;
}
.img-inner-content .name {
  padding-top: 0.3rem;
}

/*----------------------City, State Form---------------------------*/
.city-state-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
}
.edit-profile {
  margin-top: 1.5rem;
}
.edit-button {
  margin-right: 0.5rem;
  text-decoration: none;
  padding: 0.5rem .8rem;
  background: lightcoral;
  color: #fff;
  border-radius: 5px;
  border: 1px solid lightcoral;
  transition: 0.15s ease-in-out;
}
.edit-button:hover {
  background: transparent;
  color: lightcoral;
}
 /*--------------------------Post Meet up---------------------*/
 .delete-post-container {
  min-height: 40vh;
  padding: 2rem 0;
  
 }
 .post-center-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
 }
 .post-center-container h1 {
  padding: 1rem;
  margin: 0;
 }
 .p-post-content {
  padding: 1rem 0;
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 }
 .post-inner-content {
  width: 100%;
  padding: 1rem;
 }
 .post-inner-content h4{
  margin: 0;
 }
 .p-event-info {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgray;
 }
 .p-event-info .p-event-inner-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
 }
.p-event-inner-content .update-btn {
  border: 1px solid lightcoral;
  padding: 0.5rem 0.7rem;
  background: lightcoral;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.p-event-inner-content .update-btn:hover {
  background: transparent;
  color: lightcoral;
}
/*----------------------delete button------------------------*/
.p-event-inner-content form .delete-btn {
  border: 1px solid lightcoral;
  background: transparent;
  padding: 0.5rem 0.7rem;
  color: lightcoral;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.p-event-inner-content form .delete-btn:hover {
  background: lightcoral;
  color: #fff;
}
.update-btn-div, .delete-btn-div {
  text-align: right;
}
/*----------------------------Footer--------------------------*/
.footer {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 /*-------------------------Modal Content---------------------*/
 .modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s, opacity 0.7s;
 }
 .bg-active {
  visibility: visible;
  opacity: 1;
 }

 .modal {
  border: 1px solid gray;
  border-radius: 10px;
  background: #fff;
  width: 500px;
  height: 650px;
  margin: auto auto;
  display: none;
  position: relative;
 }
 .modal h1 {
  text-align: center;
 }
 .modal-container {
  width: 80%;
  margin: 0 auto;
 }
.modal-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.modal-form .e-form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0;
}

.modal-form .e-form-group input {
  width: 98%;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 0.2rem;
}
.modal-form .e-form-group .update-button {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid lightcoral;
  font-size: 1.2rem;
  background: lightcoral;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}
.modal-form .e-form-group .update-button:hover {
  background: transparent;
  color: lightcoral;
}
 /*-------------Modal Close Button-------------------------*/
 .modal .close-btn {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
 }
/*---------------------------Flashed Messages--------------*/
.success {
  color: rgb(0, 206, 0);
}
.error {
  color: rgb(255, 44, 44);
}
.flash-message-div {
  width: min(80%, 90rem);
  margin-inline: auto;
}

/*---------------------------Meida Query-----------------------------*/
@media (max-width: 1100px) {
  .p-center-container {
    flex-direction: column;
  }
  .big-color-div {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .img-inner-content img {
  width: 100%;
  border-radius: 10px;
}
}



@media (max-width: 900px) {
  .p-center-container .p-image img {
  clip-path: circle();
  width: 60%;
}
.delete-btn-div .delete-btn{
  width: 100%;
}
.text-font-weight {
   text-align: center;
}
.post-inner-content h4{
  margin-bottom: 0.3rem;
  text-align: center;
 }
.p-event-info .p-event-inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.p-event-info .p-event-inner-content p {
  margin: 0;
}
}

@media (max-width: 650px) {
  .navbar-logo {
    display: none;
  }
}
@media (max-width: 550px) {
  .navlinks {
    flex-wrap: wrap;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}