* {
  font-family: 'Roboto', sans-serif; 
}

:root {
  --clr-darkgray: rgb(68, 68, 68);
  --clr-lightgray: rgb(240, 240, 240);
  --clr-lightBlue: rgb(241, 253, 255);
  --clr-lightRed: rgb(255, 234, 234);
}

body {
  background-color: #fff;
}

nav{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.07rem;
}
.navbar-container {
  border-bottom: 2px solid lightgray;
}
nav .navlinks {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .navlinks li{
  list-style-type: none;
  padding-left: 1rem;
}

nav .navlinks li a {
  color: black;
  text-decoration: none;
}



/*-----------------------------Section-----------------------------*/
.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 2rem 0;

}
.p-container {
  width: min(80%, 90rem);
  margin-inline: auto;
 
}
.p-center-container {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  
}

.text-font-weight {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  font-weight: 550;
  font-family: 'Ubuntu', sans-serif;
}

/*---------------User Dashboard------------------------*/

.big-color-div {
  width: 40%;
  background: var(--clr-darkgray);
  border-radius: 10px 0 0 10px;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.flex-box-div {
  width: 60%;
  text-align: center;
  padding: 2rem 0;
  
}
.img-inner-content {
  width: 50%;
  margin: auto auto;
}
.img-inner-content img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #fff;
}
.img-inner-content p {
  margin: 0;
  padding-bottom: 0.3rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.07rem;
}
.img-inner-content .name {
  padding-top: 0.3rem;
}

/*----------------------City, State Form---------------------------*/
.city-state-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
}
.edit-profile {
  margin-top: 1.5rem;
}
.edit-button {
  margin-right: 0.5rem;
  text-decoration: none;
  padding: 0.5rem .8rem;
  background: lightcoral;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid lightcoral;
  transition: 0.15s ease-in-out;
}
.edit-button:hover {
  background: transparent;
  color: lightcoral;
}
 /*--------------------------Post Meet up---------------------*/
 .delete-post-container {
  min-height: 60vh;
  padding: 0 0 4rem 0;
  
 }
 .post-center-container {
  width: min(80%, 90rem);
  margin-inline: auto;
  background: var(--clr-lightRed);
  border-radius: 10px;
  box-shadow: 5px 5px 20px 8px rgba(0, 0, 0, 0.1);
 }
 .post-center-container h1 {
  padding: 1rem;
  margin: 0;
 }
 .p-post-content {
  padding: 1rem 0;
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .post-inner-content {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
 }
 .p-event-inner-content .col {
  margin-bottom: 0.7rem;
 }
 .post-inner-content h4{
  margin: 0 0 0.7rem 0;
  font-family: 'Ubuntu', sans-serif;
 }
 .post-inner-content p {
  margin: 0.1rem;
 }
 .p-event-info {
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  transition: .2s ease-in-out;
  background: #fff;
 
 }

.p-event-info:hover {
  transform: scale(1.017);
}

 .p-event-info .p-event-inner-content {
  padding: 1rem;
 }
.p-event-info .p-event-inner-content .delete-update-div {
  display: flex;
}
.p-event-info .p-event-inner-content .delete-update-div .update-btn {
  margin-left: 0.5rem;
}

.p-event-inner-content .update-btn {
  border: 2px solid lightcoral;
  padding: 0.5rem 0.7rem;
  background: lightcoral;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/*----------------------delete button------------------------*/
.p-event-inner-content form .delete-btn {
  border: 2px solid lightcoral;
  background: transparent;
  padding: 0.5rem 0.7rem;
  color: lightcoral;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/*----------------------------Footer--------------------------*/
.footer {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid lightgray;
  padding-top: 2rem;
}
 /*-------------------------Modal Content---------------------*/
 .modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s, opacity 0.7s;
 }
 .bg-active {
  visibility: visible;
  opacity: 1;
 }

 .modal {
  border: 1px solid gray;
  border-radius: 10px;
  background: var(--clr-darkgray);
  min-width: 500px;
  min-height: 650px;
  margin: auto auto;
  display: none;
  position: relative;
  color: #fff;
 }
 .modal h1 {
  text-align: center;
 }
 .modal-container {
  width: 80%;
  margin: 0 auto;
 }
.modal-form .modal-form-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem; 
}
.modal-form .modal-form-content .group-col {
  width: 50%;
}

.modal-form .modal-form-content .e-form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 0.8rem 0;
}

.modal-form .e-form-group input, textarea {
  width: 98%;
  font-size: 1.2rem;
  outline: none;
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 0.2rem;
  background: var(--clr-darkgray);
  color: #fff;
}
.modal-form .e-form-group .update-button {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid lightcoral;
  font-size: 1.2rem;
  background: lightcoral;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}
.modal-form .e-form-group .update-button:hover {
  background: transparent;
  color: lightcoral;
}
 /*-------------Modal Close Button-------------------------*/
 .modal .close-btn {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
 }
/*---------------------------Flashed Messages--------------*/
.success {
  color: rgb(0, 206, 0);
}
.error {
  color: rgb(255, 44, 44);
}
.flash-message-div {
  width: min(80%, 90rem);
  margin-inline: auto;
}

/*---------------------------Meida Query-----------------------------*/
@media (max-width: 1100px) {
  .p-center-container {
    flex-direction: column;
  }
  .big-color-div {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .img-inner-content img {
  width: 100%;
  border-radius: 10px;
}
}



@media (max-width: 900px) {
  .p-center-container .p-image img {
  clip-path: circle();
  width: 60%;
}
.delete-btn-div .delete-btn{
  width: 100%;
}
.text-font-weight {
   text-align: center;
}
.post-inner-content h4{
  margin-bottom: 0.3rem;
  text-align: center;
 }
.p-event-info .p-event-inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.p-event-info .p-event-inner-content p {
  margin: 0;
}
}

@media (max-width: 700px) {
  .navbar-logo {
    display: none;
  }
}
@media (max-width: 600px) {
  .navlinks {
    flex-wrap: wrap;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .edit-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}