{% extends "base.html" %}
{% block title %}Create meet up{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/create_meet_up.css"/>
{% endblock %}


{% block body %}
<nav>
  <div class="navbar-container">
<a href="#" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>
  <ul class="navlinks">
    <li><a href="/meet_up" class="text-black">Search Event</a></li>
    <li><a href="/userprofile" class="text-black">Profile</a></li>
    <li><a href="/logout" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
  </div>
</nav>


<section class="create-meet-section">
  <div class="meet-up-container">

   <div class="meet-form meet-col">
       <form action="/create_meet_up_form" method="POST">
       <h1>Host your own meet up</h1>
       <div class="form-group">
      
      <input type="text" name="title" id="title" placeholder="Title..." required/>
      </div>
      <div class="form-group">
        
      <input type="datetime-local" name="datetime" id="datetime" required/>
      </div>
      <div class="form-group">
       
        <input type="address" name="address" id="address" placeholder="Address..." required/>
      </div>
      <div class="form-group">
       
        <input type="text" name="city" id="city" placeholder="City..." required>
      </div>
      <div class="form-group">
        
        <input type="text" name="state" id="state" placeholder="State..." required>
      </div>
      <div class="form-group">
        
        <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode..." required>
      </div>
      <div class="form-group">
        
        <textarea cols="10" rows="10" name="description" placeholder="Description..."></textarea>
      </div>

      <div class="button-group">
        <button type="submit" class="submit-button btn">Post</button>
        <a href="/userprofile" class="cancel-btn btn">Cancel</a>
      </div>
    </form>

   </div>
   

    <div class="meet-up-content meet-col">
      <div class="inner-content">
        <h3>Hosting</h3>
        <p>Posting an event to Car-Meet is free and easy. Just fill out the form with the correct info and click post when done. You could update and delete your event in the user profile page.</p>
        <h3>Support Your Local Groups</h3>
        <p>Like many things in this world, if we don't support our local events it'll slowly fade away. Make sure to continue supporting them even if you can't make it to an event. Car groups actually do a lot for organizations in your community in addition to providing weekend entertainment.</p>
        <h3>Our Goal</h3>
      <p>Our mission is to provide a way for car enthusiastic to meet and greet in their location. We understand that trying to find other people who have the same interest as you could be a daunty task. So we create this site to help you host and find events in your area.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="center-content">
    <div class="footer-content">
      <p>Car Meet </p>
      <p>Created By Visay Vang, 2023</p>
    </div>
  </div>
</footer>
{% endblock %}

<!--
  Create a form to submit the data for this meet up.  
-->
