{% extends "base.html" %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
{% block title %}{% endblock %}
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
<a href="#" class="navbar-logo">Car Meet <i class="fa-solid fa-car"></i></a>
  <ul class="navlinks">
    <li><a href="/">News</a></li>
    <li><a href="/meet_up">Meet Up </a></li>
    <li><a href="/login" class="login-button">Login</a></li>
    <li><a href="/create_user">Sign Up</a></li>
  </ul>
  </div>
</nav>

<section>
  <div class="home-container">
    <h1>This is the Home Page</h1>
  </div>
</section>

{% endblock %}


{% block footer %}

{% endblock %}