<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<link rel="stylesheet" href="/static/css/index.css"/>
  <title>Car Meet</title>
</head>
<body>
  <section class="home-page">
<nav>
  <div class="navbar-container">
  <a href="#" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>
  <ul class="navlinks">
    <li><a href="/login" class="login-button">Login</a></li>
    <li><a href="/create_user" class="signup-button">Sign Up</a></li>
  </ul>
 
  </div>  
</nav>
  <div class="intro-container">
    <div class="intro-content">
      <h1>
        <span>Find</span> car events in your location.
      </h1>
      <p>Meet other drivers in your area and show off your ride.</p>
      <div class="login-div">
        <a href="/login" class="login-button btn">Login</a>
     <a href="/create_user" class="signup-button btn">Sign Up</a>
      </div>
    </div>
  </div>
</section>

  <section class="mid-section">
    <div class="center-content">
      <div class="mid-info-content">
        <h1>Our <span>Goal</span></h1>
     
        <p>
          The goal is to help car enthusiasts find or host events in their area. Don't need to look else where. You can come and create your own meet ups for free.
        </p>
        <p>
          Help support your local meetups by participating and showing to the events. Hosting couldn't be any easier by filling out the form and posting it. Others can find your events by simply entering in the city and state of the location.
        </p>

      </div>
    </div>
  </section>

  <section class="lower-section">
    <div class="center-content">
       <h1>How To Get Started</h1>
      <div class="lower-info-content">
       
        <div class="lower-inner-user lower-col">
          <i class="fa-solid fa-user"></i>
          <p class="bold-text">Sign Up / Create New User</p>
          <p>You can log in or create a new account. You can upload picture of your car and update your location in your profile. </p>
        </div>
         <div class="lower-inner-search lower-col">
          <i class="fa-solid fa-address-card"></i>
          <p class="bold-text">Search</p>
          <p>You can search for events in your location. Google maps will update and display with markers on the location.
            
          </p>
         </div>
          <div class="lower-inner-host lower-col">
            <i class="fa-solid fa-calendar-days"></i>
            <p class="bold-text">Host</p>
            <p>You could host your own event with time, date, and description of the event. You can also delete or update an event in your profile.</p>
          </div>
      </div>
    </div>
  </section>
  <footer>
  <div class="center-content">
    <div class="footer-content">
      <div class="logo-div">
        <p>C M <i class="fa-solid fa-car"></i></p>
      </div>
      <div class="copyright-div">
       <p>Created By Visay Vang, 2023</p>
      </div>
      
      <div class="login-div">
        <a href="/login" class="login-button">Login</a>
        <a href="/create_user" class="signup-button">Sign Up</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>










