{% extends "base.html" %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/index.css"/>
{% block title %}{% endblock %}
{% endblock %}

{% block body %}


<section class="home-page">
<nav>
  <div class="navbar-container">
  <a href="#" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>

  <ul class="navlinks">
    <li><a href="/login" class="login-button">Login</a></li>
    <li><a href="/create_user" class="signup-button">Sign Up</a></li>
  </ul>
  
  </div>
  <div class="hamburger-menu-div">
    <button class="hamburger"><i class="fa-solid fa-bars"></i></button>
  </div>
</nav>


  <div class="intro-container">
    <div class="intro-content">
      <h1 class="font-family">
        <span>Find</span> car events in your location.
      </h1>
      <p class="font-family">Meet other drivers in your area and show off your ride.</p>
      <div class="login-div">
        <a href="/login" class="login-button btn">Login</a>
     <a href="/create_user" class="signup-button btn">Sign Up</a>
      </div>
    </div>
  </div>




{% endblock %}


{% block footer %}

{% endblock %}