{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/meet_up.css"/>
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
<a href="/" class="navbar-logo">Car Meet <i class="fa-solid fa-car"></i></a>
  <ul class="navlinks">
    <li><a href="/create_meet_up_form" class="text-black">Create Meet</a></li>
    <li><a href="/userprofile" class="text-black">Profile</a></li>
    <li><a href="/" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
  </div>
</nav>

<section>
  <div class="bg-img-container">
  </div>
</section>

<section class="find-meet-container">
  <div class="center-content">
    <div class="find-meet">
      <h1 class="title">Find Local Car Meet</h1>
      <a href="/create_meet_up_form" class="host-meet-button">Create Meet-up</a>
    </div>

    <div class="state-city-container">

      <form action="/meet_up" method="GET">
        <input type="text" name="state" class="state-selection" placeholder="Enter State..."/>
        <input type="city" name="city" class="state-selection" placeholder="Enter City..."/>
        <input type="submit" class="search-button" id="search-button" value="Search"/>
      </form>
    
    </div>

  </div>
</section>

<section class="search-container">
  <div class="center-content">
    <div class="search-content">
      {% if meetups %}
        <p>These are the meet up in your location.</p>
        {% for meetup in meetups %}
            {{ meetups }}
        {% endfor %}
        
      {% endif %}
  
    </div>
  </div>
</section>

<script src="/static/js/meet_up.js"></script>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="center-content">
    <h2>Footer Content</h2>
  </div>
</footer>
{% endblock %}