{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/meet_up.css"/>
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
<a href="/meet_up" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>
  <ul class="navlinks">
    <li><a href="/create_meet_up_form" class="text-black">Create Meet</a></li>
    <li><a href="/userprofile" class="text-black">Profile</a></li>
    <li><a href="/logout" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
  </div>
</nav>

<section>
  <div class="bg-img-container">
  </div>
</section>

<section class="find-meet-container">
  <div class="center-content">
    <div class="find-meet">
      <h1 class="title">Find Local Car Meet or Create Your Own Meet Up</h1>
      <a href="/create_meet_up_form" class="host-meet-button">Create Meet</a>
    </div>


    <p>Don't miss out on car show and events around you. Use the city and state to find meets in your area.</p>
    <div class="state-city-container">
      
     <div class="form-search form-col">
      
       <form action="/meet_up" method="GET">
         <input type="city" name="city" id="city" class="state-selection" placeholder="{{ city }}"/>
        <input type="text" name="state" id="state" class="state-selection" placeholder="{{state}}"/>
        <button class="search-button" id="search-button" value="Search">Search</button>
      </form>
     </div>
      <div class="search-content form-col" id="search-content">
        {%if meetups%}
        {% for meetup in meetups %}
          
        <h3>{{ meetup.title }}</h3>
        <p>{{ meetup.date_time }}</p>
        <p>{{ meetup.address }}</p>
        <p>{{ meetup.city }}, {{ meetup.state }} {{ meetup.zipcode }}</p>
        {% endfor %}
        {%else%}
          <p>There are no meet up in your area at this time.</p>
        {%endif%}
        
    </div>
    </div>
  </div>
</section>

<section class="search-container">
  <div class="center-content">
    <div class="map search-col" id="map">Google Maps</div>
  </div>
</section>

<script src="/static/js/meet_up.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDcZg0dZszhb0dTWeT0KAzZmpQYgT6WjA&callback=initMap">
</script>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="center-content">
    <h2>Footer Content</h2>
  </div>
</footer>
{% endblock %}