{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/userprofile.css"/>
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
    <a href="/meet_up" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>
    <ul class="navlinks">
    <li><a href="/meet_up" class="text-black">Search Event</a></li>
    <li><a href="/create_meet_up_form" class="text-black">Host Event</a></li>
    <li><a href="/logout" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
   
  </div>
</nav>

   {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
      {% for category, message in messages %}
      <div class="flash-message-div">
        <p class="{{ category }}">{{ message }}</p>
      </div>   
      {% endfor %}
      {% endif %}
      {% endwith %}
 
<section class="user-profile">
  <div class="p-container">
    <div class="p-center-container">

      <div class="big-color-div dash-col">
        <div class="img-inner-content">
           <img src="{{ user.image_url }}" alt="image of user's car"/>
            <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
             <p class="location">{{ user.city }}, {{ user.state }}</p>
        </div>
      </div>

        <div class="flex-box-div dash-col">
           <h1 class="text-font-weight">Hello, {{ user.username }}</h1>
        
          <div class="edit-profile">
            <a href="/profile_update" class="edit-button">Edit Profile</a>
            <a href="/create_meet_up_form" class="edit-button">Host Event</a>
          </div>

        </div>
    </div>
  </div>
</section>

<section class="delete-post-container">  
  <div class="post-center-container">
    <h1 class="text-font-weight">Events</h1>
    <div class="p-post-content">
        <div class="post-inner-content">
        {% if events %}
          {% for event in events %}
          <h4>{{ event.title }}</h4>
          <div class="p-event-info">
            <div class="p-event-inner-content">

              <div class="datetime-div">
                 <p>{{ event.date_time|datetime_format('%B %d, %Y') }} </p>
                 <p>{{ event.date_time|time_format('%H:%M %p') }}</p>
              </div>
          <p>{{ event.address }}</p>
          <p>{{ event.city }}, {{ event.state }} {{ event.zipcode }}</p>
            <form action="/delete_meetup/{{ event.meet_up_id }}" method="POST">
              <div class="delete-btn-div">
                <input type="submit" class="delete-btn" value="Delete"/> 
              </div>
            </form>
            <div class="update-btn-div">
                <button class="update-btn" id="id{{event.meet_up_id}}">Update</button>
            </div>
            
            </div>
          </div>
        {% endfor %}
       {% endif %}
        </div>
    </div>
  </div>
</section>

<div class="modal-bg">
<section class="modal" id="modal">
  <h1>Event Update</h1>
  <button id="modal-close-btn" class="close-btn"><i class="fa-solid fa-xmark"></i></button>
  <div class="modal-container">

    <form action="/update_event" method="post" class="modal-form">
      <input type="hidden" id="meet_up_id" name="meet_up_id">

      <div class="e-form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title"/>
      </div>
      <div class="e-form-group">
        <label for="datetime">Date Time</label>
        <input type="datetime-local" name="datetime" id="datetime"/>
      </div>
      <div class="e-form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address"/>
      </div>
      <div class="e-form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city"/>
      </div>
      <div class="e-form-group">
        <label for="state">State</label>
        <input type="text" name="state" id="state"/>
      </div>
      <div class="e-form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="zipcode"/>
      </div>
      <div class="e-form-group">
        <button type="submit" class="update-button">Update</button>
      </div>
    </form>
  </div>
</section>

</div>


<script src="/static/js/userprofile.js"></script>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="p-container">
     <div class="footer-content">
      <p>Car Meet <i class="fa-solid fa-car"></i></p>
      <p>Created By Visay Vang, 2023</p>
     </div>
  </div>
</footer>
{% endblock %}