{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/userprofile.css"/>
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
    <ul class="navlinks">
    <li><a href="/meet_up" class="text-black">Search</a></li>
    <li><a href="/create_meet_up_form" class="text-black">Create Meet</a></li>
  </ul>
   <div class="logout-div">
    <a href="#" class="dropdown">Setting <i class="fa-solid fa-gear"></i></a>
    <a href="/" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a>
   </div>
  </div>
</nav>


<section class="user-profile">
<div class="p-container">
  <div class="p-center-container">
    <div class="p-image p-col">
      <img src="{{ user.image_url }}" alt=" "/>

      <form action="/post-form-data" method="post" enctype="multipart/form-data" class="cloudinary-form">
        <input type="file" name="my-file" class="upload-button"/>
        <input type="submit" value="submit" class="upload-button"/>
      </form>

    </div>

    

    <div class="p-info p-col" id="user-info">

     

      <p class="user-name">Hi, {{ user.username }}</p>
      <form action="/userprofile" method="post" class="city-state-form">
        <p>Enter your city and state</p>
        <div class="input-group">
          <input type="text" name="city" placeholder="City"/>
        </div>
        <div class="input-group">
          <input type="text" name="state" placeholder="State"/>
        </div>
        <div class="input-group">
          <button type="submit" class="save-button">save</button>
        </div>
      </form>
    </div>
       
  </div>
</div>
</section>

<script src="/static/js/userprofile.js"></script>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="center-content">
    <h2>Footer Content</h2>
  </div>
</footer>
{% endblock %}