{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Nunito:wght@200&family=Pacifico&family=Poppins:ital,wght@1,100&family=Quicksand:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
<link rel="stylesheet" href="/static/css/userprofile.css"/>
{% endblock %}

{% block body %}
<nav>
  <div class="navbar-container">
    <a href="/meet_up" class="navbar-logo">C M <i class="fa-solid fa-car"></i></a>
    <ul class="navlinks">
    <li><a href="/meet_up" class="text-black">Search Meet</a></li>
    <li><a href="/create_meet_up_form" class="text-black">Create Meet</a></li>
    <li><a href="/post_content">Post</a></li>
    <li><a href="/logout" class="text-black">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
  </ul>
   
  </div>
</nav>


<section class="user-profile">
<div class="p-container">
  <div class="p-center-container">
    <div class="p-image p-col">

      {% for message in get_flashed_messages()%}
        <p>{{ message }}</p>
      {% endfor %}

      <h1 class="user-name">Hi, {{ user.username }}</h1>
      <img src="{{ user.image_url }}" alt=" "/>
      <form action="/post-form-data" method="post" enctype="multipart/form-data" class="cloudinary-form">
        <input type="file" name="my-file" />
        <input type="submit" value="submit" class="upload-button"/>
      </form>
    </div>

    <div class="p-info p-col">
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
      <h2> {{ user.city }}, {{ user.state }}</h2>
      <div class="edit-profile">
        <a href="/profile_update" class="edit-button">Edit Profile</a>
      </div>
    </div>
       
  </div>
</div>
</section>

<section class="delete-post-container">
  <div class="p-center-container">
    <div class="p-post-content">
        <div class="post-inner-content">

        {% if events %}
          {% for event in events %}
          <h3>{{ event.title }}</h3>
          <p>{{ event.address }}</p>
          <p>{{ event.city }}, {{ event.state }} {{ event.zipcode }}</p>
          <form action="/delete_meetup/{{ event.meet_up_id }}" method="POST">
          <input type="submit" class="delete-btn" value="Delete"/> 
       </form>
       <button class="update-btn" id="id{{event.meet_up_id}}">Update</button>
        {% endfor %}
       {% endif %}
       
        </div>
    </div>
  </div>
</section>

<section class="modal" id="modal">
  <button id="modal-close-btn" class="close-btn"><i class="fa-solid fa-xmark"></i></button>
  <div class="modal-container">

    <form action="/update_event" method="post">
      <input type="hidden" id="meet_up_id" name="meet_up_id">

      <div class="e-form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title"/>
      </div>
      <div class="e-form-group">
        <label for="datetime">Date Time</label>
        <input type="datetime-local" name="datetime" id="datetime"/>
      </div>
      <div class="e-form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address"/>
      </div>
      <div class="e-form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city"/>
      </div>
      <div class="e-form-group">
        <label for="state">State</label>
        <input type="text" name="state" id="state"/>
      </div>
      <div class="e-form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="zipcode"/>
      </div>
      <div class="e-form-group">
        <input type="submit" value="Update" class="update-button"/>
      </div>
    </form>
  </div>
</section>

<script src="/static/js/userprofile.js"></script>
{% endblock %}


{% block footer %}
<footer class="footer">
  <div class="center-content">
    <h2>Footer Content</h2>
  </div>
</footer>
{% endblock %}